.stocksSub{
    margin-top: 40px;
}

.cellStocksSubList{
    padding: 10px;
    border-top : 1px solid #d2d7db;
    border-left: 1px solid #d2d7db;
}

.cellStocksSubListRight{
    border-right : 1px solid #d2d7db;
}

.cellStocksSubListDarkBackgroundColor{
    background-color: #e8eef0;
}