.actionsStockItemLittle{
    display: inline-flex;
    column-gap: 10px;
    justify-content: space-between;
}

.cellStockItemsSubList{
    padding: 10px;
    border-top : 1px solid #d2d7db;
    border-left: 1px solid #d2d7db;
}

.cellStockItemsSubListbottom{
    border-bottom : 1px solid #d2d7db;
}

.cellStockItemsSubListRight{
    border-right : 1px solid #d2d7db;
}