.allStocks{
    box-shadow: 10px 2px 10px 0px #edece9;
    font-family: Rubik;
}

.headerStockList{
    padding: 10px;
    color : #e7a605;
    font-weight: 600;
    border-bottom : 1px solid #edece9;
}

.stockListItem{
    border-bottom : 1px solid #edece9;
}

.cellStockList{
    padding: 20px;
    font-size: large;
    text-align: center;
}

.cell{
    padding: 50px;
}

.indexFood{
    font-size: 20px;
    padding: 27px;
}

.nameFood{
    font-size: 28px;
    font-weight: 500;
    color: #a6aab6;
}