.cellList{
    padding: 30px;
    font-size: xx-large;
    text-align: center;
    border-bottom : 1px solid #d2d7db;
}

.detailShoppingListItem{
    padding-top: 20px;

}

.detailShoppingListItemName{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #879efa;
}

.detailShoppingListItemType{
    text-align: left;
    font-size: 28px;
    padding-left: 13%;
}

.detailShoppingListItemQuantity{
    text-align: center;
    font-size:  28px;
}

.globalButton{
    margin-top: 20px;
    margin-bottom: 20px;
} 