.cellStockList{
    padding: 20px;
    font-size: large;
    text-align: center;
}

.darkrow{
    background-color: #d7d9e1;
}

.nameFood{
    font-size: 28px;
    font-weight: 500;
    color: #a6aab6;
}

.indexFood{
    font-size: 20px;
    padding: 27px;
}