.formStock, .detailStock{
    padding-top: 20px;
}

.titleForm{
    padding-bottom: 20px;
    color : #dcb31a
}

.lineForm{
    padding-bottom: 10px;
    font-size: 20px;
}

.nameStock{
    font-size: 28px;
    font-weight: 500;
    color : #879efa;
}

.detailStock{
    padding-top: 40px;
}

.headerStockItems{
    text-align: center;
    color: #676565;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #d7d9e1 ;
    margin-top: 60px;
    padding-bottom: 30px;
}

.typeStock{
    display: flex;
    justify-content: center;
}

.stockName{
    padding-top: 40px;
    padding-left: 90px;
    font-size: 60px;
    color:#dcb31a;
    font-family: 'Roboto';
}

.quantityStock{
    font-size: xx-large;
    color:#676565;
}

.quantityNumber{
    display: flex;
    justify-content: center;
}