.formStock{
    padding-top: 20px;
}

.titleForm{
    padding-bottom: 20px;
    color : #dcb31a
}

.lineForm{
    padding-bottom: 10px;
    font-size: 20px;
}

.nameStock{
    font-size: 28px;
    font-weight: 500;
    color : #879efa;
}

.lineDetail{
    font-size:18px;
    margin-bottom: 10px;
}